.cont-1 {
  width: 40%;
  /* height: 55%; */
  background-color: #222;
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 80%;
  border-color: black;
  border-radius: 2px;
  padding: 7px;
  margin-bottom: 1%;
}

.dark-toast {
  background-color: #222;
  color: #fff;
}

.dark-toast .Toastify__close-button {
  color: #fff;
}