.sidenav {
    height: 50%;
    width: 15%;
    position: fixed;
    z-index: 1;
    margin-top: 5%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #222;
    text-align: center;
    border-radius: 5px;
    top: 15%
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    transition: 0.3s;
    color: white;
    border-color: white;
    border: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.sidenav a:hover {
    background-color: #585858;
}

.navmargin{
    margin-top: 20%;
}